.navbar {
    overflow: hidden;
    background-color: #4245f5;
    height: 50px;
    padding: 9px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navBut {
    list-style: none;
    background-color: transparent;
    text-emphasis-style: bold;
    color: white;
    display: inline;
    transition: 0.75s background-color;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0;
    border-radius: 20%;
    font-weight: bolder;
  }
  
  .navBut:hover {
    background-color:#8142f5;
    transition: 0.75s background-color;
  }

  .navButActive {
    list-style: none;
    background-color: transparent;
    text-emphasis-style: bold;
    color: red;
    display: inline;
    transition: 0.75s background-color;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0;
    border-radius: 20%;
    font-weight: bolder;
  }
  
  .navButActive:hover {
    background-color:#8142f5;
    transition: 0.75s background-color;
  }

  .navBut:active {
    background-color: white;
  }
  
  .navbarNav {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
  }