.navbar {
    overflow: hidden;
    background-color: #4245f5;
    height: 40px;
    padding: 9px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navBut {
    list-style: none;
    text-emphasis-style: bold;
    color: white;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.75s background-color;
    padding: 20px;
    border-radius: 50%;
    font-weight: bolder;
  }
  
  .navBut:hover {
    background-color:#8142f5;
    transition: 0.75s background-color;
  }
  
  .navbarNav {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
  }